<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Air Share!</title>

    <!-- zui -->
    <link rel="stylesheet" href="../css/zui.css">
    <link rel="stylesheet" href="../lib/uploader/zui.uploader.css">
</head>

<body>
<h1>Air Share!</h1>

<div id="uploaderExample" class="uploader">
    <div class="file-list" data-drag-placeholder="请拖拽文件到此处"></div>
    <button type="button" class="btn btn-primary uploader-btn-browse"><i class="icon icon-cloud-upload"></i>
        选择文件
    </button>
</div>

<!-- 在此处编码你的创意 -->

<!-- jQuery (ZUI中的Javascript组件依赖于jQuery) -->
<script src="../js/jquery-1.11.0.min.js"></script>
<!-- ZUI Javascript组件 -->
<!-- ZUI 标准版压缩后的 JavaScript 文件 -->
<script src="../js/zui.js"></script>
<script src="../lib/uploader/zui.uploader.js"></script>

<script>
    $('#uploaderExample').uploader({
        autoUpload: true, // 当选择文件后立即自动进行上传操作
        prevent_duplicates: true, // 阻止重复文件上传
        chunk_size: '2mb',
        url: '/file/upload', // 文件上传提交地址
        responseHandler: function (responseObject, file) {
            // alert(file.files[0].name)
            // 当服务器返回的文本内容包含 `'error'` 文本时视为上传失败
            // alert(responseObject.response)
            console.log("服务器返回信息:", responseObject);
            /* 使用触发器对象直接显示 */
            let parse = JSON.parse(responseObject.response);
            (new $.zui.ModalTrigger({custom: parse.data})).show();

            if (responseObject.response.indexOf('error') === 0) {
                return '上传失败。服务器返回了一个错误：' + responseObject.response;
            } else if (responseObject.response.indexOf('error2') === 0) {
                //无论返回啥都是错误，没有错误就不返回即可
                return true;
            }
        },
        onError: function (error) {
            console.log(error.code + error.message + file.name)

        }
    });
</script>
</body>

</html>
